:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #f0f2f5; /* fondo tipo Facebook */
}

/* CLAVE: que la app ocupe toda la pantalla */
#root {
  min-height: 100vh;
  width: 100%;
}
